@-moz-keyframes glitch {
  0% {
    -moz-transform: skew(74deg);
    transform: skew(74deg);
  }
  5% {
    -moz-transform: skew(2deg);
    transform: skew(2deg);
  }
  10% {
    -moz-transform: skew(-4deg);
    transform: skew(-4deg);
  }
  15% {
    -moz-transform: skew(17deg);
    transform: skew(17deg);
  }
  20% {
    -moz-transform: skew(0deg);
    transform: skew(0deg);
  }
  25% {
    -moz-transform: skew(-37deg);
    transform: skew(-37deg);
  }
  30% {
    -moz-transform: skew(-57deg);
    transform: skew(-57deg);
  }
  35% {
    -moz-transform: skew(-40deg);
    transform: skew(-40deg);
  }
  40% {
    -moz-transform: skew(16deg);
    transform: skew(16deg);
  }
  45% {
    -moz-transform: skew(-56deg);
    transform: skew(-56deg);
  }
  50% {
    -moz-transform: skew(63deg);
    transform: skew(63deg);
  }
  55% {
    -moz-transform: skew(6deg);
    transform: skew(6deg);
  }
  60% {
    -moz-transform: skew(46deg);
    transform: skew(46deg);
  }
  65% {
    -moz-transform: skew(47deg);
    transform: skew(47deg);
  }
  70% {
    -moz-transform: skew(-67deg);
    transform: skew(-67deg);
  }
  75% {
    -moz-transform: skew(-23deg);
    transform: skew(-23deg);
  }
  80% {
    -moz-transform: skew(67deg);
    transform: skew(67deg);
  }
  85% {
    -moz-transform: skew(16deg);
    transform: skew(16deg);
  }
  90% {
    -moz-transform: skew(53deg);
    transform: skew(53deg);
  }
  95% {
    -moz-transform: skew(58deg);
    transform: skew(58deg);
  }
}
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: skew(65deg);
    transform: skew(65deg);
  }
  5% {
    -webkit-transform: skew(-86deg);
    transform: skew(-86deg);
  }
  10% {
    -webkit-transform: skew(33deg);
    transform: skew(33deg);
  }
  15% {
    -webkit-transform: skew(5deg);
    transform: skew(5deg);
  }
  20% {
    -webkit-transform: skew(-29deg);
    transform: skew(-29deg);
  }
  25% {
    -webkit-transform: skew(-1deg);
    transform: skew(-1deg);
  }
  30% {
    -webkit-transform: skew(-23deg);
    transform: skew(-23deg);
  }
  35% {
    -webkit-transform: skew(-52deg);
    transform: skew(-52deg);
  }
  40% {
    -webkit-transform: skew(38deg);
    transform: skew(38deg);
  }
  45% {
    -webkit-transform: skew(21deg);
    transform: skew(21deg);
  }
  50% {
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
  }
  55% {
    -webkit-transform: skew(-72deg);
    transform: skew(-72deg);
  }
  60% {
    -webkit-transform: skew(-88deg);
    transform: skew(-88deg);
  }
  65% {
    -webkit-transform: skew(79deg);
    transform: skew(79deg);
  }
  70% {
    -webkit-transform: skew(50deg);
    transform: skew(50deg);
  }
  75% {
    -webkit-transform: skew(-11deg);
    transform: skew(-11deg);
  }
  80% {
    -webkit-transform: skew(-8deg);
    transform: skew(-8deg);
  }
  85% {
    -webkit-transform: skew(-52deg);
    transform: skew(-52deg);
  }
  90% {
    -webkit-transform: skew(-28deg);
    transform: skew(-28deg);
  }
  95% {
    -webkit-transform: skew(-9deg);
    transform: skew(-9deg);
  }
}
@keyframes glitch {
  0% {
    -moz-transform: skew(-23deg);
    -ms-transform: skew(-23deg);
    -webkit-transform: skew(-23deg);
    transform: skew(-23deg);
  }
  5% {
    -moz-transform: skew(-1deg);
    -ms-transform: skew(-1deg);
    -webkit-transform: skew(-1deg);
    transform: skew(-1deg);
  }
  10% {
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
  }
  15% {
    -moz-transform: skew(44deg);
    -ms-transform: skew(44deg);
    -webkit-transform: skew(44deg);
    transform: skew(44deg);
  }
  20% {
    -moz-transform: skew(8deg);
    -ms-transform: skew(8deg);
    -webkit-transform: skew(8deg);
    transform: skew(8deg);
  }
  25% {
    -moz-transform: skew(-31deg);
    -ms-transform: skew(-31deg);
    -webkit-transform: skew(-31deg);
    transform: skew(-31deg);
  }
  30% {
    -moz-transform: skew(28deg);
    -ms-transform: skew(28deg);
    -webkit-transform: skew(28deg);
    transform: skew(28deg);
  }
  35% {
    -moz-transform: skew(44deg);
    -ms-transform: skew(44deg);
    -webkit-transform: skew(44deg);
    transform: skew(44deg);
  }
  40% {
    -moz-transform: skew(42deg);
    -ms-transform: skew(42deg);
    -webkit-transform: skew(42deg);
    transform: skew(42deg);
  }
  45% {
    -moz-transform: skew(19deg);
    -ms-transform: skew(19deg);
    -webkit-transform: skew(19deg);
    transform: skew(19deg);
  }
  50% {
    -moz-transform: skew(-11deg);
    -ms-transform: skew(-11deg);
    -webkit-transform: skew(-11deg);
    transform: skew(-11deg);
  }
  55% {
    -moz-transform: skew(69deg);
    -ms-transform: skew(69deg);
    -webkit-transform: skew(69deg);
    transform: skew(69deg);
  }
  60% {
    -moz-transform: skew(-29deg);
    -ms-transform: skew(-29deg);
    -webkit-transform: skew(-29deg);
    transform: skew(-29deg);
  }
  65% {
    -moz-transform: skew(-78deg);
    -ms-transform: skew(-78deg);
    -webkit-transform: skew(-78deg);
    transform: skew(-78deg);
  }
  70% {
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
  }
  75% {
    -moz-transform: skew(38deg);
    -ms-transform: skew(38deg);
    -webkit-transform: skew(38deg);
    transform: skew(38deg);
  }
  80% {
    -moz-transform: skew(-84deg);
    -ms-transform: skew(-84deg);
    -webkit-transform: skew(-84deg);
    transform: skew(-84deg);
  }
  85% {
    -moz-transform: skew(-29deg);
    -ms-transform: skew(-29deg);
    -webkit-transform: skew(-29deg);
    transform: skew(-29deg);
  }
  90% {
    -moz-transform: skew(67deg);
    -ms-transform: skew(67deg);
    -webkit-transform: skew(67deg);
    transform: skew(67deg);
  }
  95% {
    -moz-transform: skew(-63deg);
    -ms-transform: skew(-63deg);
    -webkit-transform: skew(-63deg);
    transform: skew(-63deg);
  }
}
@-moz-keyframes noise {
  0% {
    background-position: 94px -98px;
  }
  10% {
    background-position: 82px 27px;
  }
  20% {
    background-position: 57px 19px;
  }
  30% {
    background-position: 75px 63px;
  }
  40% {
    background-position: -38px 55px;
  }
  50% {
    background-position: -31px 70px;
  }
  60% {
    background-position: 71px 29px;
  }
  70% {
    background-position: -13px -96px;
  }
  80% {
    background-position: -27px 62px;
  }
  90% {
    background-position: -25px 26px;
  }
}
@-webkit-keyframes noise {
  0% {
    background-position: -33px 58px;
  }
  10% {
    background-position: 16px -71px;
  }
  20% {
    background-position: -97px -44px;
  }
  30% {
    background-position: 42px -42px;
  }
  40% {
    background-position: -48px -69px;
  }
  50% {
    background-position: -12px -47px;
  }
  60% {
    background-position: 73px -49px;
  }
  70% {
    background-position: 22px 11px;
  }
  80% {
    background-position: -2px 28px;
  }
  90% {
    background-position: 31px 11px;
  }
}
@keyframes noise {
  0% {
    background-position: -35px 34px;
  }
  10% {
    background-position: -81px 83px;
  }
  20% {
    background-position: 62px -38px;
  }
  30% {
    background-position: 98px -59px;
  }
  40% {
    background-position: -68px 17px;
  }
  50% {
    background-position: 18px 26px;
  }
  60% {
    background-position: 1px 64px;
  }
  70% {
    background-position: -95px 3px;
  }
  80% {
    background-position: -45px 81px;
  }
  90% {
    background-position: 28px -47px;
  }
}
@-moz-keyframes bar {
  0% {
    height: 281px;
    top: 8%;
    opacity: 0.51;
  }
  10% {
    height: 485px;
    top: 83%;
    opacity: 0.13;
  }
  20% {
    height: 167px;
    top: 82%;
    opacity: 0.47;
  }
  30% {
    height: 412px;
    top: 62%;
    opacity: 0.04;
  }
  40% {
    height: 476px;
    top: 50%;
    opacity: 0.42;
  }
  50% {
    height: 222px;
    top: 33%;
    opacity: 0.54;
  }
  60% {
    height: 46px;
    top: 99%;
    opacity: 0.52;
  }
  70% {
    height: 123px;
    top: 91%;
    opacity: 0.09;
  }
  80% {
    height: 106px;
    top: 88%;
    opacity: 0.66;
  }
  90% {
    height: 77px;
    top: 25%;
    opacity: 0.7;
  }
}
@-webkit-keyframes bar {
  0% {
    height: 164px;
    top: 17%;
    opacity: 0.17;
  }
  10% {
    height: 553px;
    top: 81%;
    opacity: 0.79;
  }
  20% {
    height: 272px;
    top: 48%;
    opacity: 0.42;
  }
  30% {
    height: 192px;
    top: 82%;
    opacity: 0.57;
  }
  40% {
    height: 298px;
    top: 13%;
    opacity: 0.32;
  }
  50% {
    height: 329px;
    top: 17%;
    opacity: 0.7;
  }
  60% {
    height: 67px;
    top: 29%;
    opacity: 0.52;
  }
  70% {
    height: 376px;
    top: 66%;
    opacity: 0.77;
  }
  80% {
    height: 435px;
    top: 47%;
    opacity: 0.02;
  }
  90% {
    height: 602px;
    top: 79%;
    opacity: 0.38;
  }
}
@keyframes bar {
  0% {
    height: 107px;
    top: 1%;
    opacity: 0.65;
  }
  10% {
    height: 114px;
    top: 41%;
    opacity: 0.54;
  }
  20% {
    height: 592px;
    top: 88%;
    opacity: 0.41;
  }
  30% {
    height: 320px;
    top: 90%;
    opacity: 0.62;
  }
  40% {
    height: 399px;
    top: 47%;
    opacity: 0.09;
  }
  50% {
    height: 139px;
    top: 28%;
    opacity: 0.28;
  }
  60% {
    height: 103px;
    top: 27%;
    opacity: 0.66;
  }
  70% {
    height: 582px;
    top: 99%;
    opacity: 0.65;
  }
  80% {
    height: 220px;
    top: 31%;
    opacity: 0.58;
  }
  90% {
    height: 257px;
    top: 83%;
    opacity: 0.19;
  }
}
.glitch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font: 15px "Michroma", helvetica, sans-serif;
  letter-spacing: 0.6em;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=61&opacity=20);
  text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;
  -moz-animation: noise 0.3s infinite;
  -webkit-animation: noise 0.3s infinite;
  animation: noise 0.3s infinite;
}
.glitch:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.glitch:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=61&opacity=40);
  -moz-animation: bar 0.5s infinite;
  -webkit-animation: bar 0.5s infinite;
  animation: bar 0.5s infinite;
}
.glitch span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -moz-animation: glitch 3s infinite alternate;
  -webkit-animation: glitch 3s infinite alternate;
  animation: glitch 3s infinite alternate;
}
